:root {
	--sky-50: #eef9ff;
	--sky-100: #d9f0ff;
	--sky-200: #bce5ff;
	--sky-300: #8ed7ff;
	--sky-400: #59beff;
	--sky-500: #3da5ff;
	--sky-600: #1b81f5;
	--sky-700: #146ae1;
	--sky-800: #1755b6;
	--sky-900: #19498f;
	--sky-950: #142d57;

	--slate-50: #f8fafc;
	--slate-100: #f1f5f9;
	--slate-200: #e2e8f0;
	--slate-300: #cbd5e1;
	--slate-400: #94a3b8;
	--slate-500: #64748b;
	--slate-600: #475569;
	--slate-700: #334155;
	--slate-800: #1e293b;
	--slate-900: #0f172a;
	--slate-950: #020617;

	--rose-500: #f43f5e;
	--rose-600: #e11d48;
	--green-500: #22c55e;
	--green-600: #16a34a;

	--min-height: 100vh;

	--radius-sm: 4px;
	--radius-md: 8px;
	--radius-lg: 12px;

	--duration: 200ms;

	--transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter;
	--transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	--transition-duration: var(--duration);

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--slate-500);
	background-color: var(--slate-950);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--width-carousel: 0;
	--width-image-carousel: 0;
	--transform-carousel: 0;

	--scroll-type: auto;

	/**
	 * + Slider variables
	 */

	--slider-container-width: 300px;
	--transform-slider: 0;
	--transition-slider: var(--transition-property),
		var(--transition-timing-function), 1s;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	user-select: none;
}

body {
	overflow: var(--scroll-type);
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: var(--min-height, 100vh);
}

#app {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
	overflow: hidden;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius-md);
	outline: none;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	user-select: none;
	background-color: var(--slate-800);
	cursor: pointer;
	transition: var(--transition-property), var(--transition-timing-function),
		var(--transition-duration);
}

button:hover {
	border-color: var(--sky-500);
}

/**
 * + Carrusel de Imágenes
 */
.carousel {
	min-height: var(--min-height, 100vh);
	padding: 2rem 0;
}
.carousel__container {
	min-height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 1rem;
}
.carousel__images-container {
	--height-image: 300px;
	width: 50%;
	height: var(--height-image);
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	border-radius: var(--radius-md);
}
.carousel__images {
	position: relative;
	left: 0;
	display: flex;
	width: var(--width-carousel);
	height: 100%;
}
.carousel__image {
	--transition-duration: 800ms;
	width: var(--width-image-carousel, 100%);
	height: 100%;
	object-fit: cover;
	aspect-ratio: 16 / 9;
	transition: var(--transition-property), var(--transition-timing-function),
		var(--transition-duration);
	transform: translateX(var(--transform-carousel));
}
.carousel__navegation {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 0.5rem;
}
.carousel__btn {
	border-width: 4px;
	background-color: var(--sky-500);
	user-select: none;
	padding: 0.3em 0.6em;
	line-height: inherit;
	font-size: 18px;
	transform: scale(1);

	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: var(--duration);
}
.carousel__btn:hover {
	background-color: var(--sky-600);
	border-color: var(--sky-600);
}
.carousel__btn:active {
	transform: scale(0.8);
}

/**
 * + Slider
 */

.slider {
	min-height: var(--min-height, 100vh);
	padding: 2rem 0;
	border: 1px solid var(--slate-800);
}
.slider__container {
	width: 100%;
	min-height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.slider__title {
	margin-bottom: auto;
	color: var(--slate-50);
}
.slider__container-content {
	width: var(--slider-container-width);
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	user-select: none;

	@media screen and (min-width: 1024px) {
		--slider-container-width: 500px;
	}
}
.slider__cards-container {
	display: flex;
}
.slider__card {
	min-width: 100%;
	width: 100%;
	border-radius: var(--radius-md);
	overflow: hidden;
	transition: var(--transition-slider);
	transform: translateX(var(--transform-slider));
}
.slider__card-content {
	color: var(--slate-50);
	background-color: var(--slate-900);
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider__image {
	aspect-ratio: 16 / 9;
	object-fit: cover;
	object-position: center;
	height: 100%;
}
.slider__nav {
	margin-bottom: auto;
	padding: 1rem;
	display: flex;
	gap: 1rem;
}
.slider__btn {
	padding: 0.3rem 0.6rem;
	font-size: 14px;
	line-height: 1.5rem;

	&:active {
		transform: scale(0.8);
	}
}
.slider__btn--prev {
}
.slider__btn--next {
}

/**
 * + Menu
 */

.menu {
	min-height: var(--min-height, 100vh);
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--slate-900);
	padding: 2rem 0;
}
.menu__container {
	width: 100%;
	min-height: inherit;
	position: relative;
}
.menu__title {
	margin-bottom: 2rem;
	color: var(--slate-50);
}
.menu__hamburger {
	margin-left: auto;
	margin-right: 1rem;
}
.menu__nav {
	position: absolute;
	top: 8rem;
	right: 0;
	width: 80%;
	padding: 1rem;
	min-height: 80vh;
	border-radius: var(--radius-md) 0 0 var(--radius-md);
	background-color: var(--slate-950);
	transition: var(--transition-property), var(--transition-timing-function),
		var(--transition-duration);
	transform: translateX(100vw);
}
.menu__nav--visible {
	transform: translateX(0);
}
.menu__list {
	list-style: none;
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}
.menu__item {
	border-bottom: 1px solid var(--slate-800);
}
.menu__link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	text-decoration: none;
	color: var(--slate-50);
	transition: var(--transition-property), var(--transition-timing-function),
		var(--transition-duration);

	&:hover {
		background-color: var(--slate-900);
	}
}

/**
 * + Modal
 */

.modal {
	min-height: var(--min-height, 100vh);
	padding: 2rem 0;
	border: 1px solid var(--slate-800);
}
.modal__container {
	width: 100%;
	min-height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.modal__title {
	text-align: center;
	color: var(--slate-50);
	margin-bottom: auto;
}
.modal__button {
	&:active {
		transform: scale(0.8);
	}
}
.modal__button--open {
	margin-bottom: auto;
}
.modal__button--close {
	margin: 1rem auto 0 auto;
	width: min-content;
	background-color: var(--rose-500);
	border-color: var(--rose-500);

	&:hover {
		background-color: var(--rose-600);
		border-color: var(--rose-600);
	}
}
.modal__dialog {
	--transition-duration: 500ms;

	align-items: center;
	background-color: rgb(10, 10, 10, 40%);
	display: flex;
	justify-content: center;
	left: 0;
	min-height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 50;
	transform-origin: center;
	transition: var(--transition-property), var(--transition-timing-function),
		var(--transition-duration);
	opacity: 1;
	transform: translateY(-100vh) scale(0);
}
.modal__dialog--open {
	opacity: 1;
	transform: translateY(0) scale(1);
}

.modal__content {
	--size-content: 300px;

	width: var(--size-content);
	padding: 1rem;
	min-height: 200px;
	margin: auto;
	gap: 0.5rem;
	flex-direction: column;
	display: flex;
	color: var(--slate-50);
	border: 1px solid var(--slate-800);
	border-radius: var(--radius-md);
	background-color: var(--slate-900);

	@media screen and (min-width: 768px) {
		--size-content: 400px;
	}

	@media screen and (min-width: 1024px) {
		--size-content: 500px;
	}
}

/**
 * + Progress Bar
 */

:root {
	--transform-bar: 0;
}
.progress {
	min-height: var(--min-height, 100vh);
	padding: 2rem 0;
	border: 1px solid var(--slate-800);
}
.progress__container {
	width: 100%;
	min-height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.progress__title {
	text-align: center;
	color: var(--slate-50);
	margin-bottom: auto;
}
.progress__content {
	background-color: var(--slate-900);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 2rem;
	margin: auto;
}
.progress__bar {
	--transition-duration: 500ms;

	height: 16px;
	width: 100%;
	border-radius: var(--radius-md);
	background-color: var(--slate-800);
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;

	&::before {
		content: attr(title);
		position: absolute;
		color: white;
		font-size: 12px;

		z-index: 10;
	}
}
.progress__fill {
	height: 16px;
	width: 100%;
	background-color: var(--sky-600);
	color: white;
	font-size: 12px;
	position: absolute;
	top: 0;
	left: -100%;
	transform: translateX(var(--transform-bar));
}
.progress__buttons {
	display: flex;
	gap: 1rem;
}
.progress__button {
	padding: 0.4rem;

	&:active {
		transform: scale(0.8);
	}
	&:hover {
		border-color: var(--slate-800);
	}
}
.progress__button--play {
	background-color: var(--sky-800);
}
.progress__button--pause {
	background-color: var(--sky-800);
}
.progress__button--disabled {
	opacity: 0.5;
	pointer-events: none;
}
